.ant-layout-header{
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background-image: url("@/assets/images/header.png");
        filter: blur(2px);
    }
}