.img-upload{
    .ant-upload-list {
        width: 100% !important;
        height: 100% !important;
        .ant-upload{
            width: 100% !important;
            height: 100% !important;
        }
        .ant-upload-list-item-container{
            width: 100% !important;
            height: 100% !important;
        }
    }
}