@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: bold;
}
:root {
  --color-background-from: #011e1e;
  --color-background-mid: #021722;
  --color-background-to: #00060b;
  --color-header-bg-from: #132128;
  --color-header-bg-mid: #081b23;
  --color-header-bg-to: #1a1c28;
  --color-container-bg-from: #011e1e;
  --color-container-bg-mid: #021722;
  --color-container-bg-to: #00060b;
  --color-border: rgb(2, 39, 58);
  --color-card-bg-from: #011e1e;
  --color-card-bg-to: #021722;
  --color-shadow: #7dd3fc;

}
body {
  @apply h-screen bg-gradient-to-br from-(--color-background-from) via-(--color-background-mid) to-(--color-background-to) bg-no-repeat bg-fixed;
}

.header-bg{
  @apply bg-gradient-to-r from-(--color-header-bg-from) via-(--color-header-bg-mid) to-(--color-header-bg-to) text-white border-b border-(--color-border);
}
.header-bg-v{
  @apply bg-gradient-to-t from-(--color-header-bg-from) via-(--color-header-bg-mid) to-(--color-header-bg-to) text-white border-b border-(--color-border);
}
.container-bg-h {
  @apply bg-gradient-to-r from-(--color-container-bg-from) via-(--color-container-bg-mid) to-(--color-container-bg-to) backdrop-blur-sm shadow-xl shadow-(--color-shadow);
}
.container-bg-v {
  @apply bg-gradient-to-t from-(--color-container-bg-from) via-(--color-container-bg-mid) to-(--color-container-bg-to) backdrop-blur-sm shadow-xl shadow-(--color-shadow);
}
.card-bg{
  @apply overflow-hidden border border-(--color-border) bg-gradient-to-br from-(--color-card-bg-from) to-(--color-card-bg-to)  backdrop-blur-sm shadow-lg hover:shadow-2xl hover:shadow-(--color-shadow) transition-all;
}
